html,body{width:100%; height:100%; margin:0px; padding:0px;}
body {font-size:1.15em; color:#FFF; font-family:"Lucida Console", Monaco, monospace; background-color:#000;}
a:link {color:#888;}
a:visited {color:#888;}
a:active {color:#888;}
a:hover {color:#c00;}
h1 {font-size:2.0em; margin:4px 0px 6px 0px; text-align:center;}
h2 {font-size:1.5em; margin:4px 0px 6px 0px; text-align:center;}
h3 {font-size:1.2em; margin:4px 0px 6px 0px; text-align:center;}
h4 {font-size:.7em; margin:4px 0px 6px 0px; text-align:center;}
.divider1 {background-color:#808080; border:1px solid #000000; height:2px; margin:3px auto 3px auto; width:100%;}
.divider2 {background-color:#808080; border:1px solid #000000; height:2px; margin:6px auto 6px auto; width:506px;}
.title{font-size:2.0em; margin:0px 4px 0px 4px; text-align:center;}
.title img{margin:0 5px; vertical-align:middle;}
.vr {border-right:1px solid #ddd;}
.USBWSVerNew {color:#ff0000;}
a.USBWSVerNew:link {color:#ff0000;}
a.USBWSVerNew:visited {color:#ff0000;}
a.USBWSVerNew:active {color:#ff0000;}
a.USBWSVerNew:hover {color:#ff0000;}
.tabblemain1{margin-left:auto; margin-right:auto; border:0px;}
table.tabledata1{border:2px solid gray; margin:auto; text-align:center; font-size:.85em; width:475px;}
table.tabledata1 tr{border:1px solid gray;}
table.tabledata1 td{border:1px solid gray; padding:3px;}
table.tabledata2{border:2px solid gray; width:350px; margin:auto; text-align:center;}
table.tabledata2 tr{border:1px solid gray;}
table.tabledata2 td{border:1px solid gray; padding:3px;}
table.tabledata3{border:2px solid gray; margin:auto; text-align:center; font-size: 1.15em; width:500px;}
table.tabledata3 tr{border:1px solid gray;}
table.tabledata3 td{border:1px solid gray; padding:3px;}